#convert {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tag-title {
  font-size: 30px;
  font-weight: 800;
}

.input {
  text-align: center;
  padding: 10px;
  width: 30vw;
  border-radius: 10px;
  border: 1px solid black;
  filter: drop-shadow(0px 0px 2px black);
}

.spancon {
  color: white;
  background-color: black;
  padding: 0px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 12px 0px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}

#result {
  text-align: center;
}

/* Handphone Responsif */
@media only screen and (max-width: 700px) {
  .tag-title {
    width: 75%;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }

  .input {
    text-align: center;
    padding: 8px;
    width: 50vw;
    border-radius: 10px;
    border: 1px solid black;
    filter: drop-shadow(0px 0px 2px black);
  }

  button {
    padding: 10px 0px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
  }
}
