/* Nav Style */
nav {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-brand {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 800;
  color: #f5f5f5f5;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-item {
  text-decoration: none;
  color: #f5f5f5f5;
  font-size: 14px;
}

.menu-item:hover {
  color: grey;
}

/* Nav Style Responsif */
@media only screen and (max-width: 700px) {
  nav {
    padding: 15px 0px;
  }

  .menu {
    display: none;
  }
}
/* End Nav Style */
